html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#app, .wrapper
{
    height: 100%;
    min-height: 100%;
}

.logo 
{
  margin-left: 100px;
}

.refresh-container 
{
  margin-right: 100px;
}

.btn-flat {
  font-weight: bold;
  border: 2px solid gray;
}

.container {
  margin-top: 100px;
}

.card-title {
  font-weight: 500;
}

.severity {
  font-weight: 500;
  font-size: 1.5em;
}